@import "../../../../styles/common/mixins";

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: -10px;
  margin-right: -10px;
  &__photo-wrap,
  &__desc,
  &__text {
    padding: 0 10px;
  }
  &__photo-wrap {
    width: 100%;
    @include media-md {
      width: 30%;
      align-self: flex-start;
    }
    &:hover {
      .about__avatar {
        opacity: 1;
      }
      .about__photo {
        filter: sepia(0);
      }
    }
  }
  &__photo {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    filter: sepia(0.9);
    transition: all ease 1s;
  }
  &__avatar {
    position: absolute;
    width: 100%;
    bottom: -1px;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all ease 1s;
  }
  canvas {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  &__desc {
    width: 100%;
    @include media-md {
      width: 70%;
    }
  }
  &__table {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    th,
    td {
      vertical-align: middle;
      font-size: 12px;
      @media (min-width: 640px) {
        font-size: 16px;
      }
    }
  }
  &__text {
    width: 100%;
    margin-top: 20px;
  }
}
