.get-cat {
  &__img-wrap {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  &__img {
    display: inline-block;
    max-width: 100%;
    border: 5px solid #fff;
  }
  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border: 5px solid transparent;
    animation: 4s linear infinite spinner;
  }
  &__get {
    display: inline-block;
    width: 280px;
    height: 60px;
    text-align: center;
    border: 5px solid #fff;
    background-color: #03010c;
    color: #fff;
    font-family: 'Press Start 2P', monospace, courier;
    font-size: 20px;
    line-height: 50px;
    outline: 0;
    transition: all ease .3s;
    &:hover {
      background-color: #fff;
      color: #03010c;
    }
  }
}
