.cv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &__skills,
  &__experience {
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__skills {
    width: 100%;
    @media (min-width: 768px) {
      width: 30%;
    }
  }
  &__experience {
    width: 100%;
    @media (min-width: 768px) {
      width: 70%;
    }
  }
}

.skills-item {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #fff;
  &__list {
    padding-left: 20px;
    list-style-type: square;
    list-style-position: outside;
  }
  &__list-item {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }
}

.work-item {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 40px;
  border: 2px solid #fff;
  &__dates {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 14px;
    color: #03010c;
    background-color: #fff;
    &:after {
      content: "";
      position: absolute;
      left: 100%;
      top: 0;
      border: 12px solid #fff;
      border-right-color: transparent;
      border-bottom-color: transparent;
    }
  }
  &__company {
    text-transform: uppercase;
  }
  &__site {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      text-decoration-color: currentcolor;
    }
    &:after {
      content: ' ⟶';
      position: absolute;
      width: 30px;
      height: 22px;
      margin-top: -11px;
      margin-left: 5px;
      top: 50%;
      left: 100%;
      text-decoration: none;
      font-size: 40px;
      line-height: 1px;
      overflow: hidden;
    }
  }
  &__position {

  }
  &__list {

  }
  &__list-item {

  }
  &__description {
    margin-bottom: 0;
  }
}
