@import "mixins";
@import 'loaders.css/src/animations/pacman.scss';
// $primary-color: $my-brand-color;
$primary-color: #fff;

.if-you-are-strange {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  line-height: 100vh;
  font-size: 30px;
  text-align: center;
}

.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(3, 1, 12, 1);
  z-index: 99999;
}

.loader-hidden {
  display: none;
}

.loader-active {
  display: flex;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  /*font-family: 'Fira Mono', monospace;*/
  font-family: 'Press Start 2P', monospace, courier;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  color: #fff;
}

html {
  height: 100%;
  font-size: 14px;
  @include media-sm {
    font-size: 16px;
  }
  @include media-md {
    font-size: 18px;
  }
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}

.app-ovelay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 99999;
  transition: opacity ease 0.3s;

  &--transparent {
    opacity: 0;
  }

  &--hidden {
    display: none;
  }
}

.app-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #03010c;
  // background-color: rgba(#66543C, .95);

  &:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    transition: background ease 0.3s;
  }

  &--loaded {
    &:after {
      background: rgba(18, 16, 16, 0.1);
      animation: flicker 0.15s infinite;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;

    &--loading {
      animation: brightness 4s linear;
      animation-fill-mode: forwards;
    }

    &--loaded {
      animation: glitch 1s linear;
      animation-fill-mode: forwards;
    }
  }
}

.page-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 0;
  &__inner {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 20px 40px;
  }
}

table,
td,
th {
  //  border: 2px solid #fff;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 3px;
  border: 2px solid #fff;

  td,
  th {
    display: table-cell;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #fff;
    line-height: 20px;
  }

  a {
    font-size: 16px;
  }
}
// }
//
// th, td {
//   display: block;
//    padding: 5px;
//    font-size: 10px;
//    vertical-align: middle;
//   //  border: 1px solid #fff;
//    @media (min-width: 640px) {
//      display: table-cell;
//      padding: 10px;
//      font-size: 16px;
//      border: 1px solid #fff;
//    }
//    @media (min-width: 768px) {
//      padding: 15px;
//    }
//    a {
//      font-size: 10px;
//      @media (min-width: 640px) {
//        font-size: 16px;
//      }
//    }
// }

.footer {
  position: absolute;
  left: 20px;
  bottom: 10px;
  font-size: 10px;
  @media (min-width: 640px) {
    bottom: 20px;
    font-size: 12px;
  }
}
