@mixin media-sm {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin media-md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: 1024px) {
    @content;
  }
}
