h1 {
  margin-bottom: 40px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
  font-size: 36px;
}

h2 {

}

h3 {
  margin-bottom: 20px;
  font-size: 26px;
}

h5 {
  margin-bottom: 20px;
  font-size: 22px;
}

h6 {
  margin-bottom: 20px;
  font-size: 18px;
}

ul {
  padding-left: 20px;
  list-style-type: square;
  list-style-position: outside;
}

li {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
}


p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.6;
}
