@import "logo";
@import "nav";

.header {
  width: 100%;
  &__inner {
    display: flex;
    max-width: 1024px;
    margin: auto;
    padding: 10px 20px;
  }
  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    @media (max-width: 768px) {
      justify-content: flex-end;
    }
  }
}
