$noise_url: '../../../../images/noise.gif';

.header-logo-wrap {
  text-decoration: none;
}

.header-logo {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-left: 60px;
  border: 3px solid #fff;
  margin: 0;
  &:before {
    content: '>';
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 64px;
    background-image: url($noise_url);
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
    transition: all ease .3s;
  }
  &:hover {
    border-image: url($noise_url) 3;
    &:before,
    .header-logo__bro,
    .header-logo__bobro {
      -webkit-text-fill-color: rgba(255, 255, 255, .5);
    }
    .header-logo__bro {
      border-image: url($noise_url) 2;
    }
  }
  &__bro {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
    font-size: 28px;
    background-image: url($noise_url);
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
    transition: all ease .3s;
  }
  &__bobro {
    font-size: 17px;
    background-image: url($noise_url);
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
    transition: all ease .3s;
  }
}
