@import "../../../../styles/common/monitor_keyframes";

$burger-breakpoint: 820px;
$nav-link-hover: #B3DC54;

.nav-list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: stretch;
  justify-content: flex-end;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  @media (max-width: $burger-breakpoint) {
    position: fixed;
    width: 100vw;
    min-width: 320px;
    height: 100vh;
    min-height: 480px;
    top: 0;
    left: 0;
    // background-color: #00c;
    background-color: rgba(3, 1, 12, .5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all ease .3s;
    animation: turn-off 0.55s $ease-out-quint;
    animation-fill-mode:forwards;
    z-index: 1;
  }
  &--active {
    background-color: rgba(#00c, 1);
    animation: brightness .3s linear;
    animation-fill-mode:forwards;
    opacity: 1;
    visibility: visible;
  }
  &__item {
    display: flex;
    margin-left: 40px;
    @media (max-width: $burger-breakpoint) {
      margin-left: 0;
    }
  }
  &__link {
    position: relative;
    align-self: center;
    padding: 5px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: all ease .3s;
    &:before,
    &:after {
      position: absolute;
      height: 40px;
      line-height: 40px;
      color: #fff;
      top: 50%;
      margin-top: -20px;
      opacity: 0;
      transition: all ease .3s;
    }
    &:before {
      content: '[';
      right: 100%;
      transform: translateX(-50%);
    }
    &:after {
      content: ']';
      left: 100%;
      transform: translateX(50%);
    }
    &:hover {
      color: $nav-link-hover;
      &:before,
      &:after {
        color: $nav-link-hover;
        opacity: 1;
        transform: translateX(0);
      }
    }
    &--active {
      color: $nav-link-hover;
      &:before,
      &:after {
        color: $nav-link-hover;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

$bur_dim: 40px;

.burger {
  position: fixed;
  width: $bur_dim;
  height: $bur_dim;
  top: 30px;
  right: 30px;
  border: 2px solid #fff;
  background-color: transparent;
  box-shadow: 0;
  transition: all ease .3s;
  z-index: 1;
  &:focus {
    outline: none;
  }
  @media (min-width: $burger-breakpoint) {
    display: none;
  }
  &__eye {
    position: absolute;
    width: $bur_dim - 10px;
    height: $bur_dim/20;
    background-color: #fff;
    transition: all ease .3s;
    &--left {
      top: $bur_dim/5;
      left: 50%;
      margin-left: -(($bur_dim - 10px)/2);
    }
    &--right {
      top: 50%;
      left: 50%;
      margin-left: -(($bur_dim - 10px)/2);
      margin-top: -($bur_dim/40)
    }
  }
  &__mouth {
    position: absolute;
    width: $bur_dim - 10px;
    height: $bur_dim/20;
    background-color: #fff;
    border: solid #fff;
    border-width: $bur_dim/40;
    bottom: $bur_dim/5;
    left: 50%;
    margin-left: -(($bur_dim - 10px)/2);
    transition: all ease .3s;
  }
  &--active {
    .burger__eye--left,
    .burger__eye--right {
      width: $bur_dim/5;
      height: $bur_dim/5;
      margin-left: 0;
      margin-top: 0;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid #fff;
    }
    .burger__eye--left {
      top: $bur_dim/10;
      left: $bur_dim/10;
    }
    .burger__eye--right {
      top: $bur_dim/10;
      right: $bur_dim/10;
      left: auto;
    }
    .burger__mouth {
      width: $bur_dim/1.4;
      height: $bur_dim/5;
      margin-left: -(($bur_dim/1.4)/2);
      bottom: $bur_dim/10;
      border: 2px solid #fff;
      border-radius: $bur_dim/10;
      background-color: transparent;
    }
  }
}
