.h01 {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0;
  line-height: 1;
  border-width: 5px;
  font-size: 20px;
  @media (min-width: 640px) {
    font-size: 36px;
  }
  &__span {
    padding-right: 0;
    padding-left: 10px;
    line-height: 62px;
    background-color: #fff;
    color: rgba(3, 1, 12, 0.84)
  }
  &__angle {
    border: 29px solid #fff;
    border-top-color: transparent;
    border-right-color: transparent;
  }
}
