@import "../../../../styles/common/monitor_keyframes";

$noise_url: '../../../../images/noise.gif';

.title-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  &--title-moved {
    flex-direction: row;
    flex-grow: 0;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.title {
  padding: 20px;
  border: 10px solid transparent;
  transition: border-color ease 0.8s 0.5s;
  @media (max-width: 420px) {
    max-width: 420px;
    margin: auto;
  }
  &--typed {
    border-color: #B3DC54;
    border-image: url($noise_url) 10;

    .title__heading,
    .title__supheading {
      background-image: url($noise_url);
      background-position: center;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(#B3DC54, .7);
    }

    .title__supheading {
      border-image: url($noise_url) 5 repeat;
    }
  }

  &--moved {
    transform: none !important;
  }

  &__heading,
  &__supheading {
    margin-bottom: 0;
  }

  &__supheading {
    font-size: 19px;
    padding-bottom: 10px;
    border-bottom: 5px solid #B3DC54;
    margin-bottom: 10px;
    @media (max-width: 420px) {
      font-size: 4.9vw;
    }
  }

  &__heading {
    font-size: 30px;
    border: 0;
    @media (max-width: 420px) {
      font-size: 7.4vw;
    }
  }
}

.main-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  padding: 20px;
  padding-left: 40px;
  @media (max-width: 800px) {
    margin-left: 0;
    padding: 10px;
  }
  &__aka {
    margin-bottom: 10px;
    font-size: 14px;
  }
  &__heading {
    font-size: 24px;
    margin-bottom: 20px;
    @media (max-width: 420px) {
      margin-top: 20px;
    }
  }
  &__caption {
    margin-bottom: 0;
    font-size: 18px;
  }
}

.main-text {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  @media (max-width: 420px) {
    margin-top: 0;
  }
  &__heading {
    margin-top: 20px;
    line-height: 1.6;
    @media (max-width: 420px) {
      margin-top: 0;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 1.6;
  }
}

.main-desc,
.main-text {
  // animation: brightness 1s linear;
  // animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
