a {
  color: #fff;
  transition: all ease 0.3s;
  text-decoration: underline;

  &:hover {
    color: #B3DC54;
  }
}

.contacts {
  &__heading {
    margin-bottom: 40px;
    // font-size: 20px;
  }
}

.contact-table {
  display: block;
  border-collapse: collapse;
  vertical-align: middle;
  border: 0;
  @media (min-width: 640px) {
    display: table;
    border-collapse: separate;
    border-spacing: 3px;
    border: 2px solid #fff;
  }

  td,
  th {
    display: block;
    padding: 5px;
    font-size: 10px;
    vertical-align: middle;
    border: 0;
    @media (min-width: 640px) {
      display: table-cell;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #fff;
    }
    @media (min-width: 768px) {
      padding: 15px;
    }

    a {
      display: inline-block;
      margin-bottom: 10px;
      font-size: 10px;
      @media (min-width: 640px) {
        margin-bottom: 0;
        font-size: 16px;
      }
    }
  }
}
